# Ignore data directory
/data/

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Virtual environment
soccer-forecasting-env/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python